<a href="https://colab.research.google.com/github/Kirtiwardhan01/NLP---Natural-Language-Processing/blob/master/NLP_Tutorial_Regular_Expressions_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing regular expression library
import re

#When you have imported the re module, you can start using regular expressions:

In [6]:
#Search the string to see if it starts with "The" and ends with "Spain":

text = 'The rain in Spain'
x = re.search("^The.*Spain$",text)

In [7]:
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

#Metacharacters
Metacharacters are characters with a special meaning

[]      	A set of characters	"[a-m]"

In [8]:
txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall('[a-m]',txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [10]:
txt2 = 'Dicover the new India'

#Find all lower case characters alphabetically between "a" and "p":

a = re.findall('[a-p]',txt2)
print(a)

b = re.findall('[A-P]',txt2)
print(b)

['i', 'c', 'o', 'e', 'h', 'e', 'n', 'e', 'n', 'd', 'i', 'a']
['D', 'I']

**\	Signals a special sequence (can also be used to escape special characters)	"\d"**

In [14]:
txt = "That will be 59 dollars"

#Find all digit characters:

a = re.findall('\d',txt)
print(a)

txt2 = 'My phone number is 123-45a-7890'
b = re.findall('\d',txt2)
print(b)

['5', '9']
['1', '2', '3', '4', '5', '7', '8', '9', '0']

**.	Any character (except newline character)	"he..o"**

In [16]:
txt = "hello world"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

a = re.search('he..o',txt)
print(a)

txt2 = 'Discover India'
#Search for a sequence that starts with "D", followed by 4 (any) characters, and a "r":

b = re.search('D....r',txt2)
print(b)

<re.Match object; span=(0, 5), match='hello'>
None

**'^'	Starts with	"^hello"**

In [21]:
txt = "hello world"

#Check if the string starts with 'hello':

x = re.findall('^hello',txt)
if x:
  print("Yes, There's atleast one match")
else:
  print("No Match")

Yes, There's atleast one match

In [20]:
txt = "Come see the wonder"

#Check if the string starts with 'wonder':

a = re.findall('^wonder',txt)
if a:
  print("Yes There's a match")
else:
  print("No Match")

No Match

In [25]:
#$	Ends with	"world$"

txt = 'India is one of the countries that is geogrophically located in Asia'

#Check if the string ends with 'Asia':

a = re.findall('Asia$',txt)
if a:
  print('Yes, It ends with Asia')
else:
  print('No')

txt2 = 'Start each day with a grateful heart'

#Check if the string ends with 'grateful':

b = re.findall('grateful$',txt2)
print(b)

Yes, It ends with Asia
[]

***	Zero or more occurrences	        "aix*"**

In [26]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

a = re.findall('aix*',txt)
if a:
  print('Yes There is atleast one match')
else:
  print('No')

Yes There is atleast one match

**+	One or more occurrences	"aix+"**

In [29]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 1 or more "x" characters:

a = re.findall('aix+',txt)
if a:
  print('Yes, it contains')
else:
  print('No')

No

**{}	Exactly the specified number of occurrences	"al{2}"**

In [31]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "a" followed by exactly two "l" characters:

a = re.findall('al{2}',txt)
print(a)

txt2 = 'Regular Expressions in Python'

b = re.findall('xp{2}',txt2)     
print(b)

c = re.findall('xp{1}',txt2)
print(c)

['all']
[]
['xp']

**|	Either or	"falls|stays"**

In [32]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

a = re.findall('falls|stays',txt)
print(a)

if a:
  print('Yes')
else:
  print('No')

['falls']
Yes

**Special Sequences**

**A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:**

\A	Returns a match if the specified characters are at the beginning of the string	"\AThe"

In [34]:
txt = "The rain in Spain"

#Check if the string starts with "The":

a = re.findall('\AThe',txt)
print(a)

if a:
  print("Yes")
else:
  print("No")

txt2 = 'Can we meet over a coffee this weekend'

b = re.findall('\Acoffee',txt2)
print(b)

['The']
Yes
[]

**\b	Returns a match where the specified characters are at the beginning or at the end of a word**

(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [38]:
txt = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:

a = re.findall(r'\bain',txt)
print(a)

if a:
  print("Yes, there is at least one match!")
else:
  print("No match")


#Check if "ain" is present at the end of a WORD:

b = re.findall(r'ain\b',txt)
print(b)

if b:
  print('Yes there is a match')
else:
  print('No')

[]
No match
['ain', 'ain']
Yes there is a match

**\B	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word**

(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [39]:
txt = 'Discover the wonders of India'

#Check if "over" is present, but NOT at the beginning of a word:

a = re.findall(r'\Bover',txt)
print(a)

b = re.search(r'over\B',txt)
print(b)

['over']
None

**\d	Returns a match where the string contains digits (numbers from 0-9)	"\d"**

In [40]:
txt = "The rain in Spain"

#Check if the string contains any digits (numbers from 0-9):

a = re.search('\d',txt)
print(a)

if a:
  print('Yes')
else:
  print('No')

b = re.findall('\d',txt)
print(b)

None
No
[]

**\D	Returns a match where the string DOES NOT contain digits	"\D"**

In [42]:
txt = "The rain in Spain"

#Return a match at every no-digit character:

a = re.findall('\D',txt)
print(a)

if a:
  print("yes, there is a match")
else:
  print('no')

b = re.search('\D',txt)
print(b)

if b:
  print("yes, there is a match")
else:
  print('no')

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
yes, there is a match
<re.Match object; span=(0, 1), match='T'>
yes, there is a match

**\s	Returns a match where the string contains a white space character	"\s"**

In [43]:
txt = "The rain in Spain"

#Return a match at every white-space character:

a = re.findall('\s',txt)
print(a)

if a:
  print('yes there is a match')
else:
  print('no there is no match')

[' ', ' ', ' ']
yes there is a match

**\S	Returns a match where the string DOES NOT contain a white space character	"\S"**

In [44]:
txt = "The rain in Spain"

#Return a match at every non white-space character:

a = re.findall('\S',txt)
print(a)

if a:
  print('yes there is a match')
else:
  print('no there is no match')

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
yes there is a match

**\w	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	
"\w"**

In [45]:
txt = "The rain in Spain"

#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):

a = re.findall('\w',txt)
print(a)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']

**\W	Returns a match where the string DOES NOT contain any word characters	"\W"**

In [47]:
txt = "The rain in Spain"

#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

a = re.findall('\W',txt)
print(a)

if a:
  print('Yes, there is a match')
else:
  print('No, there is no match')

[' ', ' ', ' ']
Yes, there is a match

**\Z	Returns a match if the specified characters are at the end of the string	"Spain\Z"**

In [49]:
txt = "The rain in Spain"

#Check if the string ends with "Spain":

a = re.findall('Spain\Z',txt)
print(a)

['Spain']

Sets

A set is a set of characters inside a pair of square brackets [] with a special meaning:

In [52]:
#[arn]	Returns a match where one of the specified characters (a, r, or n) are present	

txt = "The rain in Spain"

#Check if the string has any a, r, or n characters:

a = re.findall('[arn]',txt)
print(a)

if a:
  print("Yes, there is at least one match!")
else:
  print("No match")

b = re.search('[arn]',txt)
print(b)

if b:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!
<re.Match object; span=(4, 5), match='r'>
Yes, there is at least one match!

In [55]:
#[a-n]	Returns a match for any lower case character, alphabetically between a and n
txt = "The rain in Spain"

#Check if the string has any characters between a and n:

a = re.findall('[a-n]',txt)
print(a)
if a:
  print('yes, there is a match')
else:
  print('no, there is no match')

b = re.search('[a-n]',txt)
print(b)

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
yes, there is a match
<re.Match object; span=(1, 2), match='h'>

In [56]:
#[^arn]	Returns a match for any character EXCEPT a, r, and n

txt = "The rain in Spain"

#Check if the string has other characters than a, r, or n:

a = re.findall('[^arn]',txt)
print(a)

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']

In [58]:
#[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present	
txt = "The rain in Spain"
txt2 = 'Pay the bill amount of Rs. 100'
#Check if the string has any 0, 1, 2, or 3 digits:

a = re.findall('[0123]',txt)
print(a)

b = re.findall('[0123]',txt2)
print(b)

[]
['1', '0', '0']

In [60]:
#[0-9]	Returns a match for any digit between 0 and 9
txt = "The rain in Spain"
txt2 = '8 times before 11:45 AM'
#Check if the string has digits between 0-9:

a = re.findall('[0-9]',txt)
print(a)

b = re.findall('[0-9]',txt2)
print(b)

[]
['8', '1', '1', '4', '5']

In [61]:
#[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59
txt = '8 times before 11:45 AM'

a = re.findall('[0-5][0-9]',txt)
print(a)

if a:
  print("yes, there is a match")
else:
  print('no, there is no match')

['11', '45']
yes, there is a match

In [62]:
#[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case

txt = "The rain in Spain"

a = re.findall('[a-zA-Z]',txt)
print(a)

if a:
  print("yes, there is a match")
else:
  print('no, there is no match')

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
yes, there is a match

In [63]:
#[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

txt = "8 times before 11:45 AM"

#Check if the string has any + characters:

a = re.findall('[+]',txt)
print(a)

if a:
  print("yes, there is a match")
else:
  print('no, there is no match')

[]
no, there is no match