<a href="https://colab.research.google.com/github/Kirtiwardhan01/NLP---Natural-Language-Processing/blob/master/NLP_Tutorial01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('My name is Kirtiwardhan')

My name is Kirtiwardhan

In [5]:
name = 'Kirtiwardhan'
midname = 'P'
surname = 'Shriram'
#Using .format pattern
#While using .format then make sure you use that many curly brackets as the no. of variables for eg: if i var then use {} and so on 
print('My name is {} {} {}'.format(name,midname,surname))

My name is Kirtiwardhan P Shriram

In [6]:
#Using 'f before the string' pattern
print(f'My name is {name,midname,surname}')

My name is ('Kirtiwardhan', 'P', 'Shriram')

In [45]:
string = ['a','b','c','d']
print('Value of String is {}'.format(string[0]))
print('Value of String is {}'.format(string[1]))
print('Value of String is {}'.format(string[2]))
print('Value of String is {}'.format(string[3]))
print('Value of String is {}{}{}{}'.format(string[0],string[1],string[2],string[3]))
print('Value of String is {} {} {} {}'.format(string[0],string[1],string[2],string[3]))

Value of String is a
Value of String is b
Value of String is c
Value of String is d
Value of String is abcd
Value of String is a b c d

In [13]:
print(f"Value of String is {string[0]}')
print(f'Value of String is {string[1]}')
print(f'Value of String is {string[2]}')
print(f'Value of String is {string[3]}')

Value of String is a
Value of String is b
Value of String is c
Value of String is d

In [22]:
Dict = {'var1':10,'var2':35,'var3':47}
print('The value of dictionary is {}'.format(Dict['var1']))
print(f"The value of dictionary is {Dict['var2']}")
print('The value of dictionary is {}'.format(Dict['var3']))
print(f"The value of dictionary is {Dict['var1'],Dict['var2'],Dict['var3']}")
print('The value of dictionary is {} {} {}'.format(Dict['var1'],Dict['var2'],Dict['var3']))

The value of dictionary is 10
The value of dictionary is 35
The value of dictionary is 47
The value of dictionary is (10, 35, 47)
The value of dictionary is 10 35 47

In [24]:
company = [('Name','Emp_ID','Dept'),
          ('Anil','101','QA'), 
          ('Nil','105','Support'),
          ('Vijay','109','Admin')]

In [25]:
for data in company:
  print(data)

('Name', 'Emp_ID', 'Dept')
('Anil', '101', 'QA')
('Nil', '105', 'Support')
('Vijay', '109', 'Admin')

In [33]:
for data in company:
  print(f"Employee Name is {data[0]}")
  print(f"Employee ID is {data[1]}")
  print(f"Employee Dept is {data[2]}")
  #print('Employee Details are {} {} {}'.format(data[0],data[1],data[2]))

Employee Name is Name
Employee ID is Emp_ID
Employee Dept is Dept
Employee Name is Anil
Employee ID is 101
Employee Dept is QA
Employee Name is Nil
Employee ID is 105
Employee Dept is Support
Employee Name is Vijay
Employee ID is 109
Employee Dept is Admin

In [35]:
for data in company:
  print('Employee Details are {} {} {}'.format(data[0],data[1],data[2]))

Employee Details are Name Emp_ID Dept
Employee Details are Anil 101 QA
Employee Details are Nil 105 Support
Employee Details are Vijay 109 Admin

In [50]:
for name,emp_id,dept in company:
  print(f'Name:{name}')
print('\n')
for name,emp_id,dept in company:                          
  print(f'{name:{10}} {emp_id:{10}} {dept:{10}}')      #Specify the no. of spaces you need between the columns (variables)

Name:Name
Name:Anil
Name:Nil
Name:Vijay


Name       Emp_ID     Dept
Anil       101        QA
Nil        105        Support
Vijay      109        Admin

In [51]:
#Datetime 
from datetime import datetime

In [61]:
today = datetime(year=2021,month=9,day=8,hour=11)
print(f'Today:{today}')

Today:2021-09-08 11:00:00

In [71]:
print(today)
print(f'{today:%B %d %Y %X}')
print(f'{today:%m %d %Y}')

2021-09-08 11:00:00
September 08 2021 11:00:00
09 08 2021

_________The End______